body {
  margin: 0;
  font-family: sans-serif;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

table,
th,
td {
  border: solid 1px black;
}

form {
  margin-top: 5px;
}
